<!DOCTYPE html>
<html lang="es">

{{>head}}

<body>
  <header class="bg-primary text-white">
    <div class="container d-flex justify-content-between align-items-center">
      <h1 class="my-4">Mi dashboard</h1>
      <p class="d-flex justify-content-end align-items-center">Bienvenido, admin</p>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 bg-light bg-gray d-flex flex-column align-items-start">
        <div class="p-3">
          <h2 class="mb-0">Menú</h2>
        </div>
        <div class="flex-grow-1">
          <ul class="list-group w-100">
            <li class="list-group-item mb-3"><a href="/tablas-publicaciones">Ver todas las publicaciones</a></li>
            <li class="list-group-item mb-3"><a href="/usuarios">Ver todos los usuarios</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {{#each usuarios}}
                
              <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.tipoRol}}</td>
                
                <td>
                  <a href="/editar-usuario/{{this.id}}" class="btn btn-sm btn-outline-primary"><i class="fas fa-edit"></i></a>
                  <button type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {{>footer}}

</body>

</html>